div {
  align-items: center;
  margin: 10px;
}

.App {
  text-align: center;
  background: grey;
  min-height: 300px;
  padding: 10px;
  width: 380px;
  margin: 0 auto;
  color: #fff;
  font-size: 21px;
  cursor: default;
  border: 10px solid #ccc;
}

.App input {
  margin: 2px;
  border: none;
  padding: 4px;
  font-size: 21px;
  outline: none;
}

.App button {
  margin: 2px;
  border: none;
  background: orange;
  height: 32px;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
